@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*background: linear-gradient(to left, #ba8b02, #181818); HERE IN CASE I WANT TO DO GRADIENT BG INSTEAD*/
    /*background: url("/src/img/pink-sky.jpg") no-repeat; UNSURE WHY THIS DID NOT WORK, DOUBLE QUOTES PERHAPS?*/
    /*background: url('../img/pink-sky.jpg') no-repeat center;*/
    /*z-index: 2;*/
    /*background-size: cover;*/
    /*overflow: hidden;*/
    /*height: 100vh;*/
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}